* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dwarf-field,
.ork-field {
    width: 300px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.dwarf,
.ork {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.war-field {
    width: 400px;
    padding: 20px;
    box-shadow: 0 0 8px #ddd;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.war-field > * {
    margin: 15px 0;
    text-align: center;
}

.war-btn {
    padding: 15px;
    background: indianred;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
    margin: 0 40px;
}

.last-man-standing {
    font-size: 18px;
    font-weight: bold;
}

/** DWARFS */
.hjoldur-blackstorm {
    background-image: url(images/dwarfs/dwarf1.png);
}
.hulnum-battlebleeder {
    background-image: url(images/dwarfs/dwarf2.png);
}
.torgrum-lulbruhk {
    background-image: url(images/dwarfs/dwarf3.png);
}
.muirthran-mutgak {
    background-image: url(images/dwarfs/dwarf4.png);
}
.krumgrun-draekerehr {
    background-image: url(images/dwarfs/dwarf5.png);
}

/** ORKS */
.grak-the-angry {
    background-image: url(images/orks/ork1.png);
}
.nug-the-crazy {
    background-image: url(images/orks/ork3.png);
}
.durdul-the-merciless {
    background-image: url(images/orks/ork2.png);
}
.grohruk-the-anguished {
    background-image: url(images/orks/ork4.png);
}
.jartokk-the-enormous {
    background-image: url(images/orks/ork5.png);
}

.dwarf-info,
.ork-info {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    min-width: 400px;
    min-height: 150px;
    box-shadow: 0 0 8px black;
    text-align: center;
    padding: 0 30px;
}

.info-img {
    width: 100px;
}

.health-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}
